@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  height: 70px;
  margin: 0;
}

.logo-header {
  margin-left: 10%;
  height: 62px;
}

.title-header {
  margin-left: 30%;
  font-size: 28px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .title-header {
    margin-left: 10%;
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 378px) {
  .title-header {
    margin-left: 5%;
    font-size: 25px;
    text-align: center;
  }

  .logo-header {
    margin-left: 0;
  }
}

#welcome,
.welcome-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 5%;
}

.welcome-subtitle {
  text-align: center;
  margin-top: 8px;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 2%;
}

.welcome-banner,
.game-platforms {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-banner {
  width: 30%;
}

.game-platforms {
  margin-top: 5%;
  column-gap: 40px;
  row-gap: 15px;
  flex-wrap: wrap;
}

.platform {
  background: #efefef;
  border-radius: 50%;
  width: 202px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform-icon {
  width: 120px;
  margin: 0 auto;
}

.platform:hover {
  cursor: pointer;
  background: #dedede;
  box-shadow: 0px 4px 10px #343434;
}

.platform:nth-child(1):hover {
  box-shadow: 0px 4px 10px rgba(29, 32, 50, 0.551);
  background: #0070d187;
}

.platform:nth-child(2):hover {
  box-shadow: 0px 4px 10px rgb(54, 9, 9);
  background: #e600137b;
}

.platform:nth-child(3):hover {
  box-shadow: 0px 4px 10px rgb(1, 36, 11);
  background: #107b1073;
}

.platform:nth-child(4):hover {
  box-shadow: 0px 4px 10px rgb(1, 36, 11);
  background: rgba(30, 52, 83, 0.618);
}

@media (max-width: 768px) {
  .welcome-title {
    font-size: 25px;
  }

  .welcome-subtitle {
    font-size: 18px;
  }

  .platform {
    width: 105px;
    height: 95px;
  }

  .platform-icon {
    width: 60px;
  }

  .game-platforms {
    column-gap: 30px;
    row-gap: 10px;
  }
}

#section-playstation,
#section-nintendo,
#section-xbox,
#section-epic,
#section-steam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0 150px;
  gap: 37px;
}

#section-playstation {
  margin-top: 5%;
  background-image: linear-gradient(90deg, #0070d1, 70%, rgb(29, 32, 50));
}

#section-nintendo {
  background-image: linear-gradient(90deg, #e60012, 70%, rgb(54, 9, 9));
}

#section-xbox {
  background-image: linear-gradient(90deg, #107b10, 70%, rgb(1, 36, 11));
}

#section-steam {
  background-image: linear-gradient(
    90deg,
    rgba(30, 52, 83, 1),
    70%,
    rgba(16, 18, 28, 1)
  );
}

#section-epic {
  background-image: linear-gradient(
    90deg,
    rgb(33, 34, 35),
    70%,
    rgba(4, 3, 6, 1)
  );
}

.cards-jogos {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-jogos {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
  width: 320px;
  height: 471px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.cards-epic .card-epic:hover {
  transition: transform 0.4s ease-in-out;
}

.card-jogos:hover {
  transform: scale(1.05);
}

#section-playstation .card-jogos:hover {
  outline: 5px solid #0c3fc0;
  box-shadow: 0px 0px 25px #1f8ae1;
}

#section-nintendo .card-jogos:hover {
  outline: 5px solid #ff3838;
  box-shadow: 0px 0px 25px #e50000;
}

#section-xbox .card-jogos:hover {
  outline: 5px solid #09b91b;
  box-shadow: 0px 0px 25px #09dd1e;
}

#section-steam .card-jogos:hover {
  outline: 5px solid #4a96e2;
  box-shadow: 0px 0px 25px #2b8ff3;
}

#section-epic .card-jogos:hover {
  outline: 5px solid #1e2124;
  box-shadow: 0px 0px 25px #7a7a7b;
}

.card-jogos h3 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.card-jogos img {
  width: 164px;
  height: 220px;
  margin-top: 25px;
}

.cards-jogos .card-jogos button {
  margin-top: 10px;
}

.card-jogos p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.card-jogos button {
  padding: 10px 15px;
  background-color: #bdd9f1;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 25px;
  transition: background 0.4s;
}

.card-jogos button:hover {
  transition: background-color 0.3s ease;
}

.card-jogos button:hover {
  background-color: #68b4f6;
  cursor: pointer;
}

footer {
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.link-jogo {
  color: #000;
  text-decoration: none;
}

footer h3 {
  font-size: 22px;
  font-weight: 700;
}

footer p:nth-of-type(1) {
  font-size: 20px;
  font-weight: 400;
}

footer p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 700;
}

footer p a {
  color: #000;
  text-decoration: underline;
}

footer span {
  font-size: 20gpx;
}
